<!DOCTYPE html>
{% load staticfiles %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="{% static 'css/style.css'%}">
    <link rel="stylesheet" href="{% static 'css/semantic.css'%}">
  </head>
  <body>
    <div class="main">
      <div class="left">
        <div title="Dashboard" class="titleMenu"><a href="/Dashboard" style="color:white" ><strong>New Beer</strong></a></div>

        <div title="Supplier Management" class="menu"><a href="/Supplier" style="color:white" >Supplier Mgt</a></div>
        <div title="Purchase Management" class="menu"><a href="/Purchase" style="color:white" >Purchase Mgt</a></div>
        <div title="Material Management" class="menu"><a href="/Material" style="color:white" >Material Mgt</a></div>
        <div title="Activity Management" class="menu"><a href="/Activity" style="color:white" >Activity Mgt</a></div>
        <div title="Product Management" class="menu"><a href="/Product" style="color:white" >Product Mgt</a></div>
        <div title="Orders Management" class="menu"><a href="/Orders" style="color:white" >Orders Mgt</a></div>
        <div title="Customers Management" class="menu"><a href="/Customers" style="color:white" >Customers Mgt</a></div>
        <div title="Equipment Management" style="background-color:#5BA407" class="menu"><a href="/Equipment" style="color:white" >Equipment Mgt</a></div>
        <div title="Warehouse Management" class="menu"><a href="/Warehouse" style="color:white" >Warehouse Mgt</a></div>
        <div title="Labor Management" class="menu"><a href="/Labor" style="color:white" >Labor Mgt</a></div>
      </div>
      <div class="right">
        <div class="title" style="float:left;border:0">
          Maintenance History
        </div>
        <div class="ui big blue button" style="float:right;margin-right:50px;margin-top:40px" id="add">Add Maintenance</div>
        <div class="diliver" style="border-bottom: 3px solid black;margin-top:100px"></div>

        <div class="search" style="float:left">
          <div class="searchBox">
            ID &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
            <div class="ui input">
              <input type="text" placeholder="Search..." id="Mainten_Id">
            </div>
          </div>
          <div class="searchBox" style="margin-left:100px">
            MaintenStaff  &nbsp&nbsp
            <div class="ui input">
              <input type="text" placeholder="Search..." id="MaintenStaff_id">
            </div>
          </div>
          <div class="searchBox">
            Equip ID  &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
            <div class="ui input">
              <input type="text" placeholder="Search..." id="Equip_id">
            </div>
          </div>
          <div class="searchBox"><button type="button" onclick="search()" class="ui big green button" style="margin-top:2px;width:200px;margin-left:150px">Search</button></div>
        </div>
        <div class="overflow" style="overflow:scroll;height:550px;width:100%">
        <table id="dataTable"class="dataTable" border="1" style="text-align:center">
          <tr style="font-size:20px;background-color:#E2E3E1;height:50px">
            <th>MaintenID</th>
            <th>Date</th>
            <th>EquipmentID</th>
            <th>Description</th>
            <th>MaintenStaff ID</th>
          </tr>
        </table>
        </div>
      </div>
    </div>
    <script src="{% static 'js/jquery.js'%}"></script>
    <script type="text/javascript">
      function addURLParam(url,name,value){
        url += (url.indexOf("?") == -1 ? "?":"&");
        url += encodeURIComponent(name) + "=" + encodeURIComponent(value);
        return url;
      }
      function getData(){
      var xhr = new XMLHttpRequest();

      xhr.onreadystatechange = function () {
      if (xhr.readyState == 4 && xhr.status == 200){
      var json=JSON.parse(this.responseText);
      var _json = json.data
      var tbody = document.getElementById('dataTable');
      for (var i = 0; i < _json.length; i++){
          var h = _json[i];
          var html = "";
          var _tr = document.createElement('tr');
          _tr.className='row';
          html += "<td class='alt' style='font-size:20px'>" + h.Mainten_Id + "</td>";
          html += "<td class='alt' style='font-size:20px'>" + h.Mainten_Date + "</td>";
          html += "<td class='alt' style='font-size:20px'>" + h.Equip_id + "</td>";
          html += "<td class='alt' style='font-size:20px'>" + h.Deprecation + "</td>";
          html += "<td class='alt' style='font-size:20px'>" + h.MaintenStaff_id + "</td>";
          _tr.innerHTML = html;
          tbody.appendChild(_tr);
          }
      }
      }
      xhr.open("get","/MgtMaintenance");
      xhr.setRequestHeader('content-type', 'application/json');
      xhr.send(null);
        }
        function search(){
          var xhr = new XMLHttpRequest();
          $(function(){
            $(".row").remove();
        });
          xhr.onreadystatechange = function () {
          if (xhr.readyState == 4 && xhr.status == 200){
          var json=JSON.parse(this.responseText);
          var _json = json.data
          var tbody = document.getElementById('dataTable');
          for (var i = 0; i < _json.length; i++){
              var h = _json[i];
              var html = "";
              var _tr = document.createElement('tr');
              _tr.className='row';
              html += "<td class='alt' style='font-size:20px'>" + h.Mainten_Id + "</td>";
              html += "<td class='alt' style='font-size:20px'>" + h.Mainten_Date + "</td>";
              html += "<td class='alt' style='font-size:20px'>" + h.Equip_id + "</td>";
              html += "<td class='alt' style='font-size:20px'>" + h.Deprecation + "</td>";
              html += "<td class='alt' style='font-size:20px'>" + h.MaintenStaff_id + "</td>";
              _tr.innerHTML = html;
              tbody.appendChild(_tr);
              }
          }
          }
          var value1 = document.getElementById("Mainten_Id").value;
          var value2 = document.getElementById("MaintenStaff_id").value;
          var value3 = document.getElementById("Equip_id").value;
          var url = "/getMaintenance"
          url = addURLParam(url,"Mainten_Id",value1)
          url = addURLParam(url,"MaintenStaff_id",value2)
          url = addURLParam(url,"Equip_id",value3)
          xhr.open("get",url);
          xhr.setRequestHeader('content-type', 'application/json');
          xhr.send(null);
        }
        window.onload = getData;

      $(document).ready(function(){
      $('#add').click(function () {
         window.location.href="/Tem_addMaintenance";//跳转
     });
  });
    </script>
  </body>
</html>
